<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Academy1.Liestener"/>
		<listener class-name="resources.ExtentReporterNG"/>
	</listeners>
  <test thread-count="5" name="HomePageTest">
    <classes>
      <class name="Academy1.homepage"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="Apptest">
    <classes>
      <class name="Academy1.AppTest"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="ValidationTest">
    <classes>
      <class name="Academy1.validation_homepage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
